.bannerContainer {
    display: flex;
}

.bannerLeftWatch {
    min-height: 700px;
    width: 50%;
    background-image: url(../_images/watch1.jpg);
    background-position: center;
    background-size: cover;
}

.bannerRightWatch {
    min-height: 700px;
    width: 50%;
    background-image: url(../_images/watch2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.bannerContainer button {
    position: absolute;
    right: 2em;
    bottom: 2em;
}